<!--
body{
	background-image: url("f.jpg");
}
.divClass h1{
			color: goldenrod;
		}
		#thirdDiv img{
			width: 400px;
		}
		#thirdDiv{
			height: 600px;
			width: 500px;
			background-color: coral;
			padding: 50px;
			border-width: 5px;
			border-color: crimson;
			border-style: dashed;
		}
		#spanId{
			font:18px;
			margin: 50px;
		}
		-->